backports.functools-lru-cache==1.5
certifi==2021.10.8
charset-normalizer==2.0.9
click==7.1.2
cycler==0.10.0
distro==1.6.0
Flask==1.1.2
gunicorn==20.1.0
idna==3.3
imutils==0.5.2
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==2.2.3
numpy==1.15.4
opencv-python==4.5.4.60
packaging==21.3
Pillow==5.4.1
pkg_resources==0.0.0
prometheus-client==0.9.0
prometheus-flask-exporter==0.18.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
requests==2.26.0
scikit-build==0.12.0
six==1.12.0
subprocess32==3.5.3
toml==0.10.0
urllib3==1.26.7
Werkzeug==1.0.1
